footer
  .container.text-center
    p.float-left © 2020 Challenge Hub, Inc. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/Aujer/ChallengeHub') GitHub Project
      li.list-inline-item
        a(href='https://github.com/Aujer/ChallengeHub	') Issues
