extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h2 Most Popular Challenges
    hr
    .row
      .col-md-6
        p Here are all the challenges
        - var challenge_list = list_of_challenges
        ul
          each val in list_of_challenges
            p
            a(href='/challenges/' + val.challenge_name)= val.challenge_name

