extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Create Your Own Challenge
    
    form(id='challenge-form', method='POST')
      p
      label(class='col-md-2 col-form-label font-weight-bold', for='challenge_name') Challenge Name: 
      input(type='text' name='challenge_name' value='')
      p
      label(class='col-md-2 col-form-label font-weight-bold', for='challenge_name')          Description: 
      input(type='text' name='description' value='')
      p
      label(class='col-md-2 col-form-label font-weight-bold', for='challenge_name')          Submission Type: 
      input(type='text' name='submission_type' value='')
      p
      label(class='col-md-2 col-form-label font-weight-bold', for='challenge_name')          Reward: 
      input(type='text' name='reward' value='')
      p 
      input(type='submit' value='Submit')
