extends layout

block content
  h1 Challenge Hub
  p.lead A Place for you to Create Challenges!
  hr
  .row
    .col-md-6
      h2 Create a Challenge
      p Click "CREATE" at the top of the page to create your own challenge page. Enter some details you want related to your challenge, and we'll generate a challenge page for you! 
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Share your Page
      p Use the link of your challenge page and share with your friends, followers, or on your social media to get attention to your challenge!
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Manage your Files
      p Does your challenge require photos? With Challenge Hub, we allow challenge subscribers to upload photos, and allow you as the host to manage them!
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Interact with the Challenge
      p See the photos that other people have uploaded for their challenges. Add comments, and give updates on your goals.
      p
        a.btn.btn-raised(href='#', role='button') View details »
          
    
  //- .row
  //-   form(action='/' method='POST')
  //-     p
  //-       | First Name: 
  //-       input(type='text' name='first' value='')
  //-       |          Last Name: 
  //-       input(type='text' name='last' value='')
  //-       |          Description: 
  //-       input(type='text' name='description' value='')
  //-     input(type='submit' value='Submit')
