extends layout

block content
  h1 Challenge Hub
  p.lead A place to create your challenges
  hr
  .row
    .col-md-6
      h2 Your Challenges
      p This is where we're going to put the challenges that the user is subscribed to. name: user.profile.name
      p
        if user
          p donkey   #{user.profile.name}
          p
        else
          p qpqpq
          p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-raised(href='#', role='button') View details »
  .row
    form(action='/' method='POST')
      p
        | First Name: 
        input(type='text' name='first' value='')
        |          Last Name: 
        input(type='text' name='last' value='')
        |          Description: 
        input(type='text' name='description' value='')
      input(type='submit' value='Submit')
